/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* Body website */
body {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
}
body a {
  text-decoration: none;
  color: black;
}

/* Header */
.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 18px 0px 12px 0px;
}
.logo img {
  width: 45%;
  height: 1.8rem;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  width: 100%;
  height: auto;
  padding: 15px;
  box-shadow: inset 1px 2px 3px rgb(153, 153, 153);
}
.location i {
  width: 10%;
  padding-bottom: 5px;
  font-size: 1rem;
}
.location p {
  width: 35%;
  font-size: 1rem;
  font-weight: 550;
  opacity: 60%;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #F6F6F6;
  padding: 30px;
  padding-bottom: 10px;
}
.explore h1 {
  font-weight: 550;
  width: 85%;
  font-size: 1.5rem;
  margin: 10px 15px;
  font-family: "roboto", sans serif;
}
.explore p {
  margin: 5px 0px 15px 0px;
  width: auto;
  font-size: 1.1rem;
  opacity: 50%;
}

/* Select your place and food */
#choose_your_food {
  height: 400px;
}
#choose_your_food h2 {
  font-weight: bold;
  width: 70%;
  margin: 0px;
  padding: 40px 20px;
  padding-bottom: 5px;
  font-size: 1.4rem;
  margin-bottom: 15px;
}
#choose_your_food .orders {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#choose_your_food .orders .order {
  display: flex;
  font-size: 16px;
  width: 85%;
  padding: 20px 0px;
  border-radius: 20px;
  background: #F6F6F6;
  margin: 12px;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 2px 10px #999;
  transition: transform 0.4s;
  z-index: 1;
}
#choose_your_food .orders .order span {
  font-size: 13px;
  color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -12px;
  margin-right: 20px;
  padding-top: 3px;
  border: 1px solid #9356DC;
  border-radius: 25px 25px;
  background: #9356DC;
  z-index: 2;
}
#choose_your_food .orders .order i {
  font-size: 20px;
  margin-right: 20px;
  opacity: 50%;
}
#choose_your_food .orders .order:hover {
  cursor: pointer;
  transform: scale(1.08);
  background-color: #f2eafb;
}
#choose_your_food .orders .order:hover i {
  color: #9356DC;
  opacity: 1;
}

/* Cards of place */
.restaurant_cards {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  height: 1130px;
}
.restaurant_cards h2 {
  font-weight: bold;
  width: 70%;
  margin: 0px;
  padding: 40px 20px;
  padding-bottom: 5px;
  font-size: 1.4rem;
}
.restaurant_cards .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.restaurant_cards .cards .restaurant {
  width: auto;
  height: 230px;
  margin: 15px 20px 5px 20px;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 2px 10px #999;
  overflow: hidden;
  transition: transform 0.4s;
  position: relative;
}
.restaurant_cards .cards .restaurant .restaurant_picture .__picture1, .restaurant_cards .cards .restaurant .restaurant_picture .__picture3, .restaurant_cards .cards .restaurant .restaurant_picture .__picture4 {
  width: 100%;
  height: 165px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: 100% 90%;
}
.restaurant_cards .cards .restaurant .restaurant_picture .__picture2 {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  object-fit: cover;
  object-position: 80% 70%;
}
.restaurant_cards .cards .restaurant:hover {
  cursor: pointer;
  transform: scale(1.08);
}
.restaurant_cards .cards .new {
  max-width: 24%;
  align-items: center;
  font-weight: 500;
  border-radius: 2px;
  color: #278870;
  background-color: #99E2D0;
  padding: 6px 13px;
  font-size: 0.9rem;
  position: absolute;
  left: 72%;
  top: 5%;
}
.restaurant_cards .cards .restaurant_text {
  display: flex;
  justify-content: space-between;
  height: 29%;
  width: 100%;
  color: black;
  background: #F6F6F6;
  margin-top: 0px;
  position: absolute;
  bottom: 0px;
  padding: 15px 15px;
}
.restaurant_cards .cards .restaurant_text .text h3 {
  font-weight: bold;
  margin: 0px;
  font-size: 1.1rem;
}
.restaurant_cards .cards .restaurant_text .text p {
  margin: 5px 0px;
  padding-bottom: 5px;
  font-weight: 300;
  font-size: 1rem;
}
.restaurant_cards .cards .restaurant_text .like_button {
  bottom: 30%;
  right: 7%;
}

/* Header Menus */
.logo_menus {
  display: flex;
  justify-content: center;
  width: auto;
  box-shadow: 0px 2px 10px #999;
  padding: 18px 0px 12px 0px;
}
.logo_menus .back {
  width: auto;
  height: 30px;
  font-size: 20px;
}
.logo_menus img {
  width: 70%;
  padding: 0 50px;
  margin-left: 5px;
  height: 25px;
}

.picture_restaurant {
  height: 250px;
  overflow: hidden;
}
.picture_restaurant .picture_plate {
  width: 100%;
  height: 270px;
  object-fit: cover;
  object-position: 100% 40%;
}
.picture_restaurant .picture_plate2 {
  width: 100%;
  height: 270px;
  object-fit: cover;
  object-position: 100% 50%;
  background-position: bottom;
}

/* Menus */
.menus {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: -35px;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
  justify-content: center;
}
.menus .restaurant_name {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 90%;
}
.menus .restaurant_name h1 {
  font-weight: 500;
  font-size: 1.8rem;
  margin: 25px 0px 20px 25px;
  font-family: "Shrikhand", cursive;
}
.menus .restaurant_name #like_button {
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 25px;
}
.menus .menu_starter h2, .menus .menu_main_course h2, .menus .menu_dessert h2 {
  position: relative;
  font-weight: bold;
  width: 70%;
  margin: 0px;
  padding: 40px 20px;
  padding-bottom: 5px;
  font-size: 1.4rem;
  font-weight: 300;
  padding-top: 10px;
  padding-left: 0;
  font-size: 1rem;
  margin-left: 15px;
}
.menus .menu_starter h2::after, .menus .menu_main_course h2::after, .menus .menu_dessert h2::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 40px;
  border-bottom: solid #99E2D0;
}
.menus .menu_starter .starter, .menus .menu_starter .main_course, .menus .menu_starter .dessert, .menus .menu_main_course .starter, .menus .menu_main_course .main_course, .menus .menu_main_course .dessert, .menus .menu_dessert .starter, .menus .menu_dessert .main_course, .menus .menu_dessert .dessert {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: auto;
  max-height: 80px;
  padding: 15px 0px;
  margin: 15px;
  border-radius: 20px;
  background: #F6F6F6;
  justify-content: flex-start;
  box-shadow: 0px 2px 10px #999;
  overflow: hidden;
  max-height: 80px;
}
.menus .menu_starter .starter .starter_text, .menus .menu_starter .starter .main_course_text, .menus .menu_starter .starter .dessert_text, .menus .menu_starter .main_course .starter_text, .menus .menu_starter .main_course .main_course_text, .menus .menu_starter .main_course .dessert_text, .menus .menu_starter .dessert .starter_text, .menus .menu_starter .dessert .main_course_text, .menus .menu_starter .dessert .dessert_text, .menus .menu_main_course .starter .starter_text, .menus .menu_main_course .starter .main_course_text, .menus .menu_main_course .starter .dessert_text, .menus .menu_main_course .main_course .starter_text, .menus .menu_main_course .main_course .main_course_text, .menus .menu_main_course .main_course .dessert_text, .menus .menu_main_course .dessert .starter_text, .menus .menu_main_course .dessert .main_course_text, .menus .menu_main_course .dessert .dessert_text, .menus .menu_dessert .starter .starter_text, .menus .menu_dessert .starter .main_course_text, .menus .menu_dessert .starter .dessert_text, .menus .menu_dessert .main_course .starter_text, .menus .menu_dessert .main_course .main_course_text, .menus .menu_dessert .main_course .dessert_text, .menus .menu_dessert .dessert .starter_text, .menus .menu_dessert .dessert .main_course_text, .menus .menu_dessert .dessert .dessert_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10px;
  overflow: hidden;
  min-width: 90%;
}
.menus .menu_starter .starter .starter_text h3, .menus .menu_starter .starter .main_course_text h3, .menus .menu_starter .starter .dessert_text h3, .menus .menu_starter .main_course .starter_text h3, .menus .menu_starter .main_course .main_course_text h3, .menus .menu_starter .main_course .dessert_text h3, .menus .menu_starter .dessert .starter_text h3, .menus .menu_starter .dessert .main_course_text h3, .menus .menu_starter .dessert .dessert_text h3, .menus .menu_main_course .starter .starter_text h3, .menus .menu_main_course .starter .main_course_text h3, .menus .menu_main_course .starter .dessert_text h3, .menus .menu_main_course .main_course .starter_text h3, .menus .menu_main_course .main_course .main_course_text h3, .menus .menu_main_course .main_course .dessert_text h3, .menus .menu_main_course .dessert .starter_text h3, .menus .menu_main_course .dessert .main_course_text h3, .menus .menu_main_course .dessert .dessert_text h3, .menus .menu_dessert .starter .starter_text h3, .menus .menu_dessert .starter .main_course_text h3, .menus .menu_dessert .starter .dessert_text h3, .menus .menu_dessert .main_course .starter_text h3, .menus .menu_dessert .main_course .main_course_text h3, .menus .menu_dessert .main_course .dessert_text h3, .menus .menu_dessert .dessert .starter_text h3, .menus .menu_dessert .dessert .main_course_text h3, .menus .menu_dessert .dessert .dessert_text h3 {
  font-weight: bold;
  margin: 0px;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menus .menu_starter .starter .starter_text p, .menus .menu_starter .starter .main_course_text p, .menus .menu_starter .starter .dessert_text p, .menus .menu_starter .main_course .starter_text p, .menus .menu_starter .main_course .main_course_text p, .menus .menu_starter .main_course .dessert_text p, .menus .menu_starter .dessert .starter_text p, .menus .menu_starter .dessert .main_course_text p, .menus .menu_starter .dessert .dessert_text p, .menus .menu_main_course .starter .starter_text p, .menus .menu_main_course .starter .main_course_text p, .menus .menu_main_course .starter .dessert_text p, .menus .menu_main_course .main_course .starter_text p, .menus .menu_main_course .main_course .main_course_text p, .menus .menu_main_course .main_course .dessert_text p, .menus .menu_main_course .dessert .starter_text p, .menus .menu_main_course .dessert .main_course_text p, .menus .menu_main_course .dessert .dessert_text p, .menus .menu_dessert .starter .starter_text p, .menus .menu_dessert .starter .main_course_text p, .menus .menu_dessert .starter .dessert_text p, .menus .menu_dessert .main_course .starter_text p, .menus .menu_dessert .main_course .main_course_text p, .menus .menu_dessert .main_course .dessert_text p, .menus .menu_dessert .dessert .starter_text p, .menus .menu_dessert .dessert .main_course_text p, .menus .menu_dessert .dessert .dessert_text p {
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  opacity: 60%;
  white-space: nowrap;
}
.menus .menu_starter .starter .basket, .menus .menu_starter .main_course .basket, .menus .menu_starter .dessert .basket, .menus .menu_main_course .starter .basket, .menus .menu_main_course .main_course .basket, .menus .menu_main_course .dessert .basket, .menus .menu_dessert .starter .basket, .menus .menu_dessert .main_course .basket, .menus .menu_dessert .dessert .basket {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: right;
}
.menus .menu_starter .starter .basket .price p, .menus .menu_starter .main_course .basket .price p, .menus .menu_starter .dessert .basket .price p, .menus .menu_main_course .starter .basket .price p, .menus .menu_main_course .main_course .basket .price p, .menus .menu_main_course .dessert .basket .price p, .menus .menu_dessert .starter .basket .price p, .menus .menu_dessert .main_course .basket .price p, .menus .menu_dessert .dessert .basket .price p {
  width: 20px;
  margin-right: 15px;
  font-size: 15px;
  font-weight: 500;
  padding-top: 25px;
}

form {
  display: flex;
  background: #F6F6F6;
  justify-content: center;
  align-content: center;
  padding-top: 5px;
  padding-bottom: 30px;
}
form .btn--menu {
  font-size: 12px;
  padding: 12px 40px;
}

/* Footer */
/* Button */
.btn {
  padding: 16px 18px;
  border-radius: 30px;
  border: none;
  margin: 15px;
  font-size: 15px;
  font-weight: 550;
  box-shadow: 0px 2px 10px #999;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  transition: transform 400ms;
}
.btn:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.btn:hover {
  transform: scale(1.1);
  background: linear-gradient(#ff93e1, #a16be0);
}

/* Footer */
footer {
  background: #353535;
  height: auto;
  width: 100%;
  padding: 25px 20px;
}
footer .footer_logo {
  width: 85%;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Shrikhand", cursive;
  color: white;
  width: 30%;
  margin-bottom: 15px;
}
footer a {
  color: white;
}
footer a:visited {
  color: white;
}
footer .link_restaurant {
  display: flex;
  margin-bottom: 10px;
}
footer .link_restaurant i {
  width: 5%;
  margin-right: 10px;
  color: white;
}
footer .link_partner {
  display: flex;
  margin-bottom: 10px;
}
footer .link_partner i {
  width: 5%;
  margin-right: 10px;
  color: white;
}
footer .link_notice, footer .link_contact {
  margin-bottom: 10px;
}

/* Responsive Mobile */
@media screen and (max-width: 376px) {
  /* Accueil */
  .location p {
    width: 45%;
  }

  .cards .new {
    padding: 6px 6px !important;
  }

  /* Menus */
  .restaurant_name h1 {
    font-size: 1.4rem !important;
  }

  .starter .starter_text h3, .starter .main_course_text h3, .starter .dessert_text h3, .main_course .starter_text h3, .main_course .main_course_text h3, .main_course .dessert_text h3, .dessert .starter_text h3, .dessert .main_course_text h3, .dessert .dessert_text h3 {
    font-size: 1rem !important;
    max-width: 90% !important;
  }
  .starter .starter_text p, .starter .main_course_text p, .starter .dessert_text p, .main_course .starter_text p, .main_course .main_course_text p, .main_course .dessert_text p, .dessert .starter_text p, .dessert .main_course_text p, .dessert .dessert_text p {
    font-size: 13px !important;
    max-width: 90% !important;
  }

  .starter:hover .starter_text p, .starter:hover .main_course_text p, .starter:hover .dessert_text p, .main_course:hover .starter_text p, .main_course:hover .main_course_text p, .main_course:hover .dessert_text p, .dessert:hover .starter_text p, .dessert:hover .main_course_text p, .dessert:hover .dessert_text p {
    width: 55% !important;
  }
  .starter:hover .starter_text h3, .starter:hover .main_course_text h3, .starter:hover .dessert_text h3, .main_course:hover .starter_text h3, .main_course:hover .main_course_text h3, .main_course:hover .dessert_text h3, .dessert:hover .starter_text h3, .dessert:hover .main_course_text h3, .dessert:hover .dessert_text h3 {
    width: 55% !important;
  }
}
@media screen and (min-width: 530px) and (max-width: 650px) {
  .basket {
    margin-left: 1em;
  }
}
@media screen and (min-width: 650px) and (max-width: 768px) {
  .basket {
    margin-left: 1.8em;
  }
}
/* Responsive Tablet */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .logo img {
    width: 35%;
    height: 28px;
  }

  .location i {
    width: 5%;
  }
  .location p {
    width: auto;
  }

  .explore {
    padding: 30px;
    padding-bottom: 5px;
  }

  #choose_your_food {
    height: auto;
    padding-bottom: 40px;
    align-items: center;
  }
  #choose_your_food .orders .order {
    width: 60%;
  }
  #choose_your_food .orders .order span {
    margin-right: 12px;
  }
  #choose_your_food .orders .order i {
    font-size: 18px;
    margin-right: 12px;
  }

  .restaurant_cards {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    height: auto;
    padding-bottom: 40px;
  }
  .restaurant_cards .cards {
    align-items: center;
  }
  .restaurant_cards .cards .restaurant {
    width: 60%;
    height: 300px;
  }
  .restaurant_cards .cards .restaurant .restaurant_picture .__picture1, .restaurant_cards .cards .restaurant .restaurant_picture .__picture3, .restaurant_cards .cards .restaurant .restaurant_picture .__picture4 {
    height: auto;
  }
  .restaurant_cards .cards .restaurant .restaurant_picture .__picture2 {
    height: auto;
  }
  .restaurant_cards .cards .restaurant:hover {
    cursor: pointer;
    transform: scale(1.08);
  }
  .restaurant_cards .cards .new {
    max-width: 24%;
    align-items: center;
    font-weight: 500;
    border-radius: 2px;
    color: #278870;
    background-color: #99E2D0;
    padding: 6px 13px;
    font-size: 0.9rem;
    position: absolute;
    left: 80%;
    top: 5%;
  }
  .restaurant_cards .cards .restaurant_text {
    display: flex;
    justify-content: space-between;
    height: 29%;
    width: 100%;
    color: black;
    background: #F6F6F6;
    margin-top: 0px;
    position: absolute;
    bottom: 0px;
    padding: 15px 15px;
  }
  .restaurant_cards .cards .restaurant_text .text h3 {
    font-weight: bold;
    margin: 0px;
    font-size: 1.1rem;
    font-size: 1.4rem;
  }
  .restaurant_cards .cards .restaurant_text .text p {
    margin: 5px 0px;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 1.2rem;
  }
  .restaurant_cards .cards .restaurant_text .like_button {
    bottom: 40%;
    right: 7%;
  }

  .picture_restaurant {
    height: 300px;
  }
  .picture_restaurant .picture_plate {
    height: 300px;
  }
  .picture_restaurant .picture_plate2 {
    height: 300px;
  }

  .menus .restaurant_name {
    justify-content: center;
  }
  .menus .restaurant_name h1 {
    width: 80%;
  }
  .menus .menu_starter, .menus .menu_main_course, .menus .menu_dessert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menus .menu_starter .starter, .menus .menu_starter .main_course, .menus .menu_starter .dessert, .menus .menu_main_course .starter, .menus .menu_main_course .main_course, .menus .menu_main_course .dessert, .menus .menu_dessert .starter, .menus .menu_dessert .main_course, .menus .menu_dessert .dessert {
    width: 60%;
  }
  .menus .menu_starter .starter .basket .starter_text h3, .menus .menu_starter .starter .basket .main_course_text h3, .menus .menu_starter .starter .basket .dessert_text h3, .menus .menu_starter .main_course .basket .starter_text h3, .menus .menu_starter .main_course .basket .main_course_text h3, .menus .menu_starter .main_course .basket .dessert_text h3, .menus .menu_starter .dessert .basket .starter_text h3, .menus .menu_starter .dessert .basket .main_course_text h3, .menus .menu_starter .dessert .basket .dessert_text h3, .menus .menu_main_course .starter .basket .starter_text h3, .menus .menu_main_course .starter .basket .main_course_text h3, .menus .menu_main_course .starter .basket .dessert_text h3, .menus .menu_main_course .main_course .basket .starter_text h3, .menus .menu_main_course .main_course .basket .main_course_text h3, .menus .menu_main_course .main_course .basket .dessert_text h3, .menus .menu_main_course .dessert .basket .starter_text h3, .menus .menu_main_course .dessert .basket .main_course_text h3, .menus .menu_main_course .dessert .basket .dessert_text h3, .menus .menu_dessert .starter .basket .starter_text h3, .menus .menu_dessert .starter .basket .main_course_text h3, .menus .menu_dessert .starter .basket .dessert_text h3, .menus .menu_dessert .main_course .basket .starter_text h3, .menus .menu_dessert .main_course .basket .main_course_text h3, .menus .menu_dessert .main_course .basket .dessert_text h3, .menus .menu_dessert .dessert .basket .starter_text h3, .menus .menu_dessert .dessert .basket .main_course_text h3, .menus .menu_dessert .dessert .basket .dessert_text h3 {
    width: 80%;
  }
  .menus .menu_starter .starter .basket .add_basket, .menus .menu_starter .main_course .basket .add_basket, .menus .menu_starter .dessert .basket .add_basket, .menus .menu_main_course .starter .basket .add_basket, .menus .menu_main_course .main_course .basket .add_basket, .menus .menu_main_course .dessert .basket .add_basket, .menus .menu_dessert .starter .basket .add_basket, .menus .menu_dessert .main_course .basket .add_basket, .menus .menu_dessert .dessert .basket .add_basket {
    padding: 30px 50px;
  }
  .menus .menu_starter .starter .basket .price p, .menus .menu_starter .main_course .basket .price p, .menus .menu_starter .dessert .basket .price p, .menus .menu_main_course .starter .basket .price p, .menus .menu_main_course .main_course .basket .price p, .menus .menu_main_course .dessert .basket .price p, .menus .menu_dessert .starter .basket .price p, .menus .menu_dessert .main_course .basket .price p, .menus .menu_dessert .dessert .basket .price p {
    margin-right: 25px;
  }
  .menus .btn--menu {
    font-size: 18px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .link_restaurant i {
    margin-right: 15px;
  }
  footer .link_partner i {
    margin-right: 15px;
  }

  .logo_menus img {
    width: 35%;
    height: 28px;
  }
}
/* Responsive Desktop */
@media screen and (min-width: 993px) {
  .logo img {
    width: 25%;
    height: 28px;
  }

  .location i {
    width: 3%;
  }
  .location p {
    width: 15%;
  }

  .picture_restaurant {
    height: 300px;
  }
  .picture_restaurant .picture_plate {
    height: 300px;
  }
  .picture_restaurant .picture_plate2 {
    height: 300px;
  }

  .explore {
    padding: 30px;
    padding-bottom: 5px;
  }

  #choose_your_food {
    height: auto;
    padding-bottom: 40px;
  }
  #choose_your_food .orders {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #choose_your_food .orders .order {
    width: 28%;
  }

  .restaurant_cards {
    width: auto;
    height: auto;
  }
  .restaurant_cards h2 {
    font-weight: bold;
    width: 70%;
    margin: 0px;
    padding: 40px 20px;
    padding-bottom: 5px;
    font-size: 1.4rem;
  }
  .restaurant_cards .cards {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 80px;
    padding-bottom: 30px;
  }
  .restaurant_cards .cards .restaurant {
    width: auto;
    height: 230px;
    margin: 15px 20px 5px 20px;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 2px 10px #999;
    overflow: hidden;
    transition: transform 0.4s;
    position: relative;
    max-width: 35%;
  }
  .restaurant_cards .cards .restaurant .restaurant_picture .__picture1, .restaurant_cards .cards .restaurant .restaurant_picture .__picture3, .restaurant_cards .cards .restaurant .restaurant_picture .__picture4 {
    width: 100%;
    height: 165px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: 100% 90%;
  }
  .restaurant_cards .cards .restaurant .restaurant_picture .__picture2 {
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    object-fit: cover;
    object-position: 80% 70%;
  }
  .restaurant_cards .cards .restaurant:hover {
    cursor: pointer;
    transform: scale(1.08);
  }
  .restaurant_cards .cards .new {
    max-width: 24%;
    align-items: center;
    font-weight: 500;
    border-radius: 2px;
    color: #278870;
    background-color: #99E2D0;
    padding: 6px 13px;
    font-size: 0.9rem;
    position: absolute;
    left: 75%;
    top: 5%;
  }
  .restaurant_cards .cards .restaurant_text {
    display: flex;
    justify-content: space-between;
    height: 29%;
    width: 100%;
    color: black;
    background: #F6F6F6;
    margin-top: 0px;
    position: absolute;
    bottom: 0px;
    padding: 15px 15px;
  }
  .restaurant_cards .cards .restaurant_text .text h3 {
    font-weight: bold;
    margin: 0px;
    font-size: 1.1rem;
  }
  .restaurant_cards .cards .restaurant_text .text p {
    margin: 5px 0px;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 1rem;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer .link_restaurant i {
    margin-right: 15px;
  }
  footer .link_partner i {
    margin-right: 15px;
  }

  /* Menus */
  .logo_menus img {
    width: 40%;
    height: 28px;
  }

  .menus .restaurant_name {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 80px;
  }
  .menus .dishes {
    display: flex;
    flex-direction: row;
    width: auto;
  }
  .menus .dishes .menu_starter, .menus .dishes .menu_main_course, .menus .dishes .menu_dessert {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
  }
  .menus .dishes .menu_starter .starter, .menus .dishes .menu_starter .main_course, .menus .dishes .menu_starter .dessert, .menus .dishes .menu_main_course .starter, .menus .dishes .menu_main_course .main_course, .menus .dishes .menu_main_course .dessert, .menus .dishes .menu_dessert .starter, .menus .dishes .menu_dessert .main_course, .menus .dishes .menu_dessert .dessert {
    width: 90%;
  }
  .menus .dishes .menu_starter .starter .starter_text h3, .menus .dishes .menu_starter .starter .main_course_text h3, .menus .dishes .menu_starter .starter .dessert_text h3, .menus .dishes .menu_starter .main_course .starter_text h3, .menus .dishes .menu_starter .main_course .main_course_text h3, .menus .dishes .menu_starter .main_course .dessert_text h3, .menus .dishes .menu_starter .dessert .starter_text h3, .menus .dishes .menu_starter .dessert .main_course_text h3, .menus .dishes .menu_starter .dessert .dessert_text h3, .menus .dishes .menu_main_course .starter .starter_text h3, .menus .dishes .menu_main_course .starter .main_course_text h3, .menus .dishes .menu_main_course .starter .dessert_text h3, .menus .dishes .menu_main_course .main_course .starter_text h3, .menus .dishes .menu_main_course .main_course .main_course_text h3, .menus .dishes .menu_main_course .main_course .dessert_text h3, .menus .dishes .menu_main_course .dessert .starter_text h3, .menus .dishes .menu_main_course .dessert .main_course_text h3, .menus .dishes .menu_main_course .dessert .dessert_text h3, .menus .dishes .menu_dessert .starter .starter_text h3, .menus .dishes .menu_dessert .starter .main_course_text h3, .menus .dishes .menu_dessert .starter .dessert_text h3, .menus .dishes .menu_dessert .main_course .starter_text h3, .menus .dishes .menu_dessert .main_course .main_course_text h3, .menus .dishes .menu_dessert .main_course .dessert_text h3, .menus .dishes .menu_dessert .dessert .starter_text h3, .menus .dishes .menu_dessert .dessert .main_course_text h3, .menus .dishes .menu_dessert .dessert .dessert_text h3 {
    padding-left: 20px;
    font-size: 1.3rem;
  }
  .menus .dishes .menu_starter .starter .starter_text p, .menus .dishes .menu_starter .starter .main_course_text p, .menus .dishes .menu_starter .starter .dessert_text p, .menus .dishes .menu_starter .main_course .starter_text p, .menus .dishes .menu_starter .main_course .main_course_text p, .menus .dishes .menu_starter .main_course .dessert_text p, .menus .dishes .menu_starter .dessert .starter_text p, .menus .dishes .menu_starter .dessert .main_course_text p, .menus .dishes .menu_starter .dessert .dessert_text p, .menus .dishes .menu_main_course .starter .starter_text p, .menus .dishes .menu_main_course .starter .main_course_text p, .menus .dishes .menu_main_course .starter .dessert_text p, .menus .dishes .menu_main_course .main_course .starter_text p, .menus .dishes .menu_main_course .main_course .main_course_text p, .menus .dishes .menu_main_course .main_course .dessert_text p, .menus .dishes .menu_main_course .dessert .starter_text p, .menus .dishes .menu_main_course .dessert .main_course_text p, .menus .dishes .menu_main_course .dessert .dessert_text p, .menus .dishes .menu_dessert .starter .starter_text p, .menus .dishes .menu_dessert .starter .main_course_text p, .menus .dishes .menu_dessert .starter .dessert_text p, .menus .dishes .menu_dessert .main_course .starter_text p, .menus .dishes .menu_dessert .main_course .main_course_text p, .menus .dishes .menu_dessert .main_course .dessert_text p, .menus .dishes .menu_dessert .dessert .starter_text p, .menus .dishes .menu_dessert .dessert .main_course_text p, .menus .dishes .menu_dessert .dessert .dessert_text p {
    font-size: 17px;
    padding-left: 20px;
  }
  .menus .dishes .menu_starter .starter .add_basket, .menus .dishes .menu_starter .main_course .add_basket, .menus .dishes .menu_starter .dessert .add_basket, .menus .dishes .menu_main_course .starter .add_basket, .menus .dishes .menu_main_course .main_course .add_basket, .menus .dishes .menu_main_course .dessert .add_basket, .menus .dishes .menu_dessert .starter .add_basket, .menus .dishes .menu_dessert .main_course .add_basket, .menus .dishes .menu_dessert .dessert .add_basket {
    padding: 30px 50px;
  }
  .menus .dishes .menu_starter .starter .price, .menus .dishes .menu_starter .main_course .price, .menus .dishes .menu_starter .dessert .price, .menus .dishes .menu_main_course .starter .price, .menus .dishes .menu_main_course .main_course .price, .menus .dishes .menu_main_course .dessert .price, .menus .dishes .menu_dessert .starter .price, .menus .dishes .menu_dessert .main_course .price, .menus .dishes .menu_dessert .dessert .price {
    margin-right: 10px;
  }
  .menus .btn--menu {
    margin: 40px;
    font-size: 20px;
  }
}
.loading {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading .throbber-loader {
  animation: throbber-loader 3000ms 300ms forwards ease-out;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  margin: 0 1.6em;
}
.loading .throbber-loader::before, .loading .throbber-loader::after {
  content: "x200B";
  display: inline-block;
  width: 0.9em;
  height: 1.5em;
  position: absolute;
  top: 0;
}
.loading .throbber-loader::before {
  animation: throbber-loader 3000ms 150ms forwards ease-out;
  left: -1.6em;
}
.loading .throbber-loader::after {
  animation: throbber-loader 3000ms 450ms backwards ease-out;
  right: -1.6em;
}

@keyframes throbber-loader {
  0% {
    background: #9356DC;
  }
  10% {
    background: #FF79DA;
  }
  40% {
    background: #9356DC;
  }
  60% {
    background: #FF79DA;
  }
  90% {
    background: #9356DC;
  }
}
#loader {
  animation: background-loader 2500ms forwards ease-out;
}

@keyframes background-loader {
  0% {
    background: #F6F6F6;
    opacity: 0.1;
  }
  50% {
    background: #F6F6F6;
    opacity: 0.1;
  }
}
.like_button {
  color: black;
  position: absolute;
}
.like_button .empty_like {
  position: relative;
  overflow: hidden;
  font-size: 25px;
  padding-top: 2px;
  transition: 2s all ease;
}
.like_button .full_like {
  color: #9356DC;
  position: relative;
  overflow: hidden;
  font-size: 25px;
  padding-top: 2px;
  transition: 2s all ease;
  opacity: 0;
}
.like_button .full_like:hover {
  opacity: 1;
}

@keyframes progressive {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  30% {
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.starter, .main_course, .dessert {
  opacity: 0;
  animation: progressive 2000ms 300ms forwards ease-out;
}

.starter_1, .main_course_1, .dessert_1 {
  animation-delay: 300ms;
}

.starter_2, .main_course_2, .dessert_2 {
  animation-delay: 600ms;
}

.starter_3, .main_course_3, .dessert_3 {
  animation-delay: 800ms;
}

.starter_4 {
  animation-delay: 1000ms;
}

.add_basket {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  overflow: hidden;
  width: 20px;
  height: 100%;
  margin-left: 15px;
  padding: 30px 45px;
}
.add_basket .add {
  background-color: white;
  border-radius: 50px;
  color: #99E2D0;
  font-size: 22px;
  font-weight: 600;
  padding: 5px 8px;
  transition: all 600ms ease;
}

.basket {
  transition: transform 800ms;
}

.starter_text {
  transition: width 4s ease-in-out;
}

.starter:hover .basket, .main_course:hover .basket, .dessert:hover .basket {
  transform: translate(-6em, 0);
}
.starter:hover .add, .main_course:hover .add, .dessert:hover .add {
  transform: rotate(360deg);
}
.starter:hover .starter_text p, .starter:hover .main_course_text p, .starter:hover .dessert_text p, .main_course:hover .starter_text p, .main_course:hover .main_course_text p, .main_course:hover .dessert_text p, .dessert:hover .starter_text p, .dessert:hover .main_course_text p, .dessert:hover .dessert_text p {
  width: 70%;
}
.starter:hover .starter_text h3, .starter:hover .main_course_text h3, .starter:hover .dessert_text h3, .main_course:hover .starter_text h3, .main_course:hover .main_course_text h3, .main_course:hover .dessert_text h3, .dessert:hover .starter_text h3, .dessert:hover .main_course_text h3, .dessert:hover .dessert_text h3 {
  width: 70%;
}

/*# sourceMappingURL=style.css.map */
