/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* Body website */
body {
  margin: auto;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
}
body a {
  text-decoration: none;
}

/* Header */
.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid white;
  box-shadow: 0px 2px 10px #999;
  padding: 18px 0px 12px 0px;
}
.logo img {
  width: 45%;
  height: 28px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  width: 100%;
  padding: 15px;
}
.location i {
  width: 10%;
  padding-bottom: 5px;
  font-size: 1rem;
}
.location p {
  width: 35%;
  font-size: 1rem;
  font-weight: 550;
  opacity: 60%;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 280px;
  background-color: #F6F6F6;
  padding: 30px;
}
.explore h1 {
  font-weight: 550;
  width: 85%;
  margin: 10px 15px;
  font-size: 1.5rem;
  font-family: "Shrikhand", cursive;
  font-family: "roboto", sans serif;
}
.explore p {
  margin: 5px 0px 15px 0px;
  width: auto;
  font-size: 1.1rem;
  opacity: 50%;
}

/* Select your place and food */
#choose_your_food {
  height: 400px;
}
#choose_your_food h2 {
  font-weight: bold;
  width: 70%;
  margin: 0px;
  padding: 40px 20px;
  padding-bottom: 5px;
  font-size: 1.4rem;
  margin-bottom: 15px;
}
#choose_your_food .orders {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#choose_your_food .orders .order {
  display: flex;
  font-size: 16px;
  width: 85%;
  padding: 20px 0px;
  border: 1px solid #F6F6F6;
  border-radius: 20px;
  background: #F6F6F6;
  margin: 12px;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 2px 10px #999;
  transition: transform 0.4s;
  z-index: 1;
}
#choose_your_food .orders .order span {
  font-size: 13px;
  color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -12px;
  margin-right: 20px;
  padding-top: 3px;
  border: 1px solid #9356DC;
  border-radius: 25px 25px;
  background: #9356DC;
  z-index: 2;
}
#choose_your_food .orders .order i {
  font-size: 20px;
  margin-right: 20px;
  opacity: 50%;
}
#choose_your_food .orders .order i:hover {
  color: #9356DC;
}
#choose_your_food .orders .order:hover {
  cursor: pointer;
  transform: scale(1.08);
  background-color: #f2eafb;
}

/* Cards of place */
.restaurant_cards {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  height: 1120px;
}
.restaurant_cards h2 {
  font-weight: bold;
  width: 70%;
  margin: 0px;
  padding: 40px 20px;
  padding-bottom: 5px;
  font-size: 1.4rem;
}
.restaurant_cards .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.4s;
}
.restaurant_cards .cards .restaurant {
  width: auto;
  height: 230px;
  margin: 15px 20px 5px 20px;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 2px 10px #999;
  overflow: hidden;
  transition: transform 0.4s;
  position: relative;
}
.restaurant_cards .cards .restaurant .picture_card1, .restaurant_cards .cards .restaurant .picture_card3, .restaurant_cards .cards .restaurant .picture_card4 {
  width: 100%;
  height: 260px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  overflow: hidden;
  object-position: 40% 100%;
}
.restaurant_cards .cards .restaurant .picture_card2 {
  width: 100%;
  height: 260px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  object-fit: cover;
  object-position: 80% 100%;
}
.restaurant_cards .cards .restaurant:hover {
  cursor: pointer;
  transform: scale(1.08);
}
.restaurant_cards .cards .new {
  float: right;
  color: #278870;
  background-color: #99E2D0;
  padding: 7px;
  font-size: 0.7rem;
  margin: 10px;
  position: absolute;
}
.restaurant_cards .cards .restaurant_text {
  display: flex;
  justify-content: space-between;
  height: 30%;
  width: 100%;
  color: black;
  background: #F6F6F6;
  margin-top: 0px;
  position: absolute;
  bottom: 0px;
  padding: 15px 10px;
}
.restaurant_cards .cards .restaurant_text .text h3 {
  font-weight: bold;
  margin: 0px;
  font-size: 1.1rem;
}
.restaurant_cards .cards .restaurant_text .text p {
  margin: 5px 0px;
  opacity: 50%;
  font-size: 1.1rem;
}
.restaurant_cards .cards .restaurant_text .heart {
  display: flex;
  align-items: center;
  justify-items: center;
  color: black;
  width: 30px;
  height: 30px;
  font-size: 25px;
  padding-right: 10px;
  margin-right: 5px;
}

/* Header Menus */
.logo {
  display: flex;
  justify-content: center;
  width: auto;
  border: 1px solid white;
  box-shadow: 0px 2px 10px #999;
  padding: 18px 0px 12px 0px;
}
.logo .back {
  width: auto;
  height: 30px;
  font-size: 20px;
}
.logo img {
  width: 80%;
  padding: 0 50px;
  margin-left: 5px;
  height: 25px;
}

/* Menus */
.menus {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border-radius: 10px 10px;
  background-color: #F6F6F6;
}
.menus .restaurant_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menus .restaurant_name h1 {
  font-weight: 550;
  width: 85%;
  margin: 10px 15px;
  font-size: 1.5rem;
  font-family: "Shrikhand", cursive;
  width: 70%;
  margin-top: 20px;
}
.menus .restaurant_name .heart {
  display: flex;
  align-items: center;
  justify-items: center;
  color: black;
  width: 30px;
  height: 30px;
  font-size: 25px;
  padding-right: 10px;
  margin-right: 5px;
}
.menus .restaurant_name .heart i {
  font-size: 20px;
}
.menus .menu_starter h2, .menus .menu_main_course h2, .menus .menu_dessert h2 {
  font-weight: bold;
  width: 70%;
  margin: 0px;
  padding: 40px 20px;
  padding-bottom: 5px;
  font-size: 1.4rem;
  font-weight: 300;
  padding-top: 10px;
  padding-left: 0;
  font-size: 1.2rem;
  margin-left: 15px;
  width: 45px;
  border-bottom: solid #99E2D0;
}
.menus .menu_starter .starter, .menus .menu_starter .main_course, .menus .menu_starter .dessert, .menus .menu_main_course .starter, .menus .menu_main_course .main_course, .menus .menu_main_course .dessert, .menus .menu_dessert .starter, .menus .menu_dessert .main_course, .menus .menu_dessert .dessert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  width: auto;
  padding: 15px 0px;
  margin: 15px;
  border: 1px solid #F6F6F6;
  border-radius: 20px;
  background: #F6F6F6;
  justify-content: flex-start;
  box-shadow: 0px 2px 10px #999;
}
.menus .menu_starter .starter .starter_text, .menus .menu_starter .starter .main_course_text, .menus .menu_starter .starter .dessert_text, .menus .menu_starter .main_course .starter_text, .menus .menu_starter .main_course .main_course_text, .menus .menu_starter .main_course .dessert_text, .menus .menu_starter .dessert .starter_text, .menus .menu_starter .dessert .main_course_text, .menus .menu_starter .dessert .dessert_text, .menus .menu_main_course .starter .starter_text, .menus .menu_main_course .starter .main_course_text, .menus .menu_main_course .starter .dessert_text, .menus .menu_main_course .main_course .starter_text, .menus .menu_main_course .main_course .main_course_text, .menus .menu_main_course .main_course .dessert_text, .menus .menu_main_course .dessert .starter_text, .menus .menu_main_course .dessert .main_course_text, .menus .menu_main_course .dessert .dessert_text, .menus .menu_dessert .starter .starter_text, .menus .menu_dessert .starter .main_course_text, .menus .menu_dessert .starter .dessert_text, .menus .menu_dessert .main_course .starter_text, .menus .menu_dessert .main_course .main_course_text, .menus .menu_dessert .main_course .dessert_text, .menus .menu_dessert .dessert .starter_text, .menus .menu_dessert .dessert .main_course_text, .menus .menu_dessert .dessert .dessert_text {
  padding-left: 10px;
}
.menus .menu_starter .starter .starter_text h3, .menus .menu_starter .starter .main_course_text h3, .menus .menu_starter .starter .dessert_text h3, .menus .menu_starter .main_course .starter_text h3, .menus .menu_starter .main_course .main_course_text h3, .menus .menu_starter .main_course .dessert_text h3, .menus .menu_starter .dessert .starter_text h3, .menus .menu_starter .dessert .main_course_text h3, .menus .menu_starter .dessert .dessert_text h3, .menus .menu_main_course .starter .starter_text h3, .menus .menu_main_course .starter .main_course_text h3, .menus .menu_main_course .starter .dessert_text h3, .menus .menu_main_course .main_course .starter_text h3, .menus .menu_main_course .main_course .main_course_text h3, .menus .menu_main_course .main_course .dessert_text h3, .menus .menu_main_course .dessert .starter_text h3, .menus .menu_main_course .dessert .main_course_text h3, .menus .menu_main_course .dessert .dessert_text h3, .menus .menu_dessert .starter .starter_text h3, .menus .menu_dessert .starter .main_course_text h3, .menus .menu_dessert .starter .dessert_text h3, .menus .menu_dessert .main_course .starter_text h3, .menus .menu_dessert .main_course .main_course_text h3, .menus .menu_dessert .main_course .dessert_text h3, .menus .menu_dessert .dessert .starter_text h3, .menus .menu_dessert .dessert .main_course_text h3, .menus .menu_dessert .dessert .dessert_text h3 {
  font-weight: bold;
  margin: 0px;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.menus .menu_starter .starter .starter_text p, .menus .menu_starter .starter .main_course_text p, .menus .menu_starter .starter .dessert_text p, .menus .menu_starter .main_course .starter_text p, .menus .menu_starter .main_course .main_course_text p, .menus .menu_starter .main_course .dessert_text p, .menus .menu_starter .dessert .starter_text p, .menus .menu_starter .dessert .main_course_text p, .menus .menu_starter .dessert .dessert_text p, .menus .menu_main_course .starter .starter_text p, .menus .menu_main_course .starter .main_course_text p, .menus .menu_main_course .starter .dessert_text p, .menus .menu_main_course .main_course .starter_text p, .menus .menu_main_course .main_course .main_course_text p, .menus .menu_main_course .main_course .dessert_text p, .menus .menu_main_course .dessert .starter_text p, .menus .menu_main_course .dessert .main_course_text p, .menus .menu_main_course .dessert .dessert_text p, .menus .menu_dessert .starter .starter_text p, .menus .menu_dessert .starter .main_course_text p, .menus .menu_dessert .starter .dessert_text p, .menus .menu_dessert .main_course .starter_text p, .menus .menu_dessert .main_course .main_course_text p, .menus .menu_dessert .main_course .dessert_text p, .menus .menu_dessert .dessert .starter_text p, .menus .menu_dessert .dessert .main_course_text p, .menus .menu_dessert .dessert .dessert_text p {
  opacity: 60%;
}
.menus .menu_starter .starter .price, .menus .menu_starter .main_course .price, .menus .menu_starter .dessert .price, .menus .menu_main_course .starter .price, .menus .menu_main_course .main_course .price, .menus .menu_main_course .dessert .price, .menus .menu_dessert .starter .price, .menus .menu_dessert .main_course .price, .menus .menu_dessert .dessert .price {
  font-weight: 500;
}

/* Button */
.btn {
  padding: 16px 18px;
  border-radius: 30px;
  border: none;
  margin: 15px;
  font-size: 15px;
  font-weight: 550;
  box-shadow: 0px 2px 10px #999;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
}
.btn:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* Footer */
footer {
  background: #353535;
  height: auto;
  padding: 25px 20px;
}
footer img {
  color: white;
  width: 30%;
  margin-bottom: 15px;
}
footer a {
  color: white;
}
footer a:visited {
  color: white;
}
footer .link_restaurant {
  display: flex;
  margin-bottom: 10px;
}
footer .link_restaurant i {
  width: 5%;
  margin-right: 10px;
  color: white;
}
footer .link_partner {
  display: flex;
  margin-bottom: 10px;
}
footer .link_partner i {
  width: 5%;
  margin-right: 10px;
  color: white;
}
footer .link_notice, footer .link_contact {
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
