/* Button */

.btn{
    padding: 16px 18px;
    border-radius: 30px;        
    border: none;
    margin: 15px;
    font-size: 15px;
    font-weight: 550;
    box-shadow: $shadow;
    background: linear-gradient($color-secondary, $color-primary);
    color: $light-text;
    &:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
    }
}