/* Body website */

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
    a {
      text-decoration: none;
      color: black;
    }
  }