/* Header */

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid white;
    box-shadow: $shadow;
    padding: 18px 0px 12px 0px;
    img{
        width: 45%;
        height: 28px;
    }
}
.location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-background;
    width: 100%;
    padding: 15px;
    i{
        width: 10%;
        padding-bottom: 5px;
        font-size: 1rem;
    }
    p{
        width: 35%;
        font-size: 1rem;
        font-weight: 550;
        opacity: 60%;
    }
}
.explore{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 280px;
    background-color: $color-background2;
    padding: 30px;
    h1 {
        @include first_title;
        font-family: "roboto", sans serif;
    }
    p{
        margin: 5px 0px 15px 0px;
        width: auto;
        font-size: 1.1rem;
        opacity: 50%;
    }
}

/* Select your place and food */

#choose_your_food{
    height: 400px;
    h2{
        @include second_title;
        margin-bottom: 15px;
    }
    .orders {
        display: flex;
        flex-direction: column;
        align-items: center;
        .order {
            display: flex;
            font-size: 16px;
            width: 85%;
            padding: 20px 0px;
            border: 1px solid $color-background2;
            border-radius: 20px;
            background: $color-background2;
            margin: 12px;
            align-items: center;
            justify-content:flex-start;
            box-shadow: $shadow;
  	        transition:transform .4s;
            z-index: 1;
                span {
                    font-size: 13px;
                    color: $light-text;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: -12px;
                    margin-right: 20px;
                    padding-top: 3px;
                    border: 1px solid $color-primary;
                    border-radius: 25px 25px;
                    background: $color-primary;
                    z-index: 2;
                }
                i {
                    font-size: 20px;
                    margin-right: 20px;
                    opacity: 50%;
                    &:hover {
                        color: $color-primary;
                    }
                }
                &:hover {
                    cursor: pointer;
  	                transform: scale(1.08);
                    background-color: lighten($color: $color-primary, $amount: 35);
                }
        }
    }
}

/* Cards of place */

.restaurant_cards{
    display: flex;
    flex-direction: column;
    background-color: $color-background2;
    height: 1120px;
    h2{
        @include second_title
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  	    transition: transform .4s; 
        .restaurant{
            @include cards;
            .picture_card1, .picture_card3, .picture_card4 {
                @include cards_img_horizontal;
             }
            .picture_card2 {
                @include cards_img_vertical;
            }
            &:hover {
                cursor: pointer;
  	            transform: scale(1.08);
            }      
        }
        .new {
            float: right;
            color: darken($color: $color-tertiary, $amount: 40);
            background-color: $color-tertiary;
            padding: 7px;
            font-size: 0.7rem; 
            margin: 10px;
            position: absolute;
        } 
        .restaurant_text {
            display: flex;
            justify-content: space-between;
            @include cards_text;
            padding: 15px 10px;
                .text {
                    h3 {
                    @include third_title;
                    }
                    p {
                    margin: 5px 0px;
                    opacity: 50%;
                    font-size: 1.1rem;
                    }
                }
                .heart {
                @include heart;
                }
        }
    }
}    