/* Loading */

/* :not(:required) hides these rules from IE9 and below */
.cell {
    display: flex;
    justify-content: center;
    .throbber-loader:not(:required) {
        animation: throbber-loader 2000ms 300ms forwards ease-out;
        background: white;
        display: inline-block;
        position: relative;
        text-indent: -9999px;
        width: 0.9em;
        height: 1.5em;
        margin: 0 1.6em;
    }
    .throbber-loader:not(:required):before, .throbber-loader:not(:required):after {
        background: white;
        content: '\x200B';
        display: inline-block;
        width: 0.9em;
        height: 1.5em;
        position: absolute;
        top: 0;
    }
    .throbber-loader:not(:required):before {
        animation: throbber-loader 2000ms 150ms forwards ease-out;
        left: -1.6em;
    }
    
    .throbber-loader:not(:required):after {
        animation: throbber-loader 2000ms 450ms backwards ease-out;
        right: -1.6em;
    }
}    

/* Header */

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 18px 0px 12px 0px;
    img{
        width: 45%;
        height: 1.8rem;
    }
}
.location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-background;
    width: 100%;
    height: auto;
    padding: 15px;
    box-shadow: inset 1px 2px 3px rgba(153, 153, 153, 1);
    i{
        width: 10%;
        padding-bottom: 5px;
        font-size: 1rem;
    }
    p{
        width: 35%;
        font-size: 1rem;
        font-weight: 550;
        opacity: 60%;
    }
}
.explore{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: $color-background2;
    padding: 30px;
    padding-bottom: 10px;
    h1 {
        @include first_title;
        margin: 10px 15px;
        font-family: "roboto", sans serif;
    }
    p{
        margin: 5px 0px 15px 0px;
        width: auto;
        font-size: 1.1rem;
        opacity: 50%;
    }
}

/* Select your place and food */

#choose_your_food{
    height: 400px;
    h2{
        @include second_title;
        margin-bottom: 15px;
    }
    .orders {
        display: flex;
        flex-direction: column;
        align-items: center;
        .order {
            display: flex;
            font-size: 16px;
            width: 85%;
            padding: 20px 0px;
            border: 1px solid $color-background2;
            border-radius: 20px;
            background: $color-background2;
            margin: 12px;
            align-items: center;
            justify-content:flex-start;
            box-shadow: $shadow;
  	        transition:transform .4s;
            z-index: 1;
                span {
                    font-size: 13px;
                    color: $light-text;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: -12px;
                    margin-right: 20px;
                    padding-top: 3px;
                    border: 1px solid $color-primary;
                    border-radius: 25px 25px;
                    background: $color-primary;
                    z-index: 2;
                }
                i {
                    font-size: 20px;
                    margin-right: 20px;
                    opacity: 50%;
                }
                &:hover {
                    cursor: pointer;
  	                transform: scale(1.08);
                    background-color: lighten($color: $color-primary, $amount: 35);
                }
                &:hover i {
                    color: $color-primary;
                    opacity: 160%;
                }
        }
    }
}

/* Cards of place */

.restaurant_cards{
    display: flex;
    flex-direction: column;
    background-color: $color-background2;
    height: 1130px;
    h2{
        @include second_title
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        .restaurant{
            @include cards;
            .restaurant_picture {
                .__picture1, .__picture3, .__picture4 {
                    @include cards_img_horizontal;
                }
                .__picture2 {
                    @include cards_img_vertical;
                }
            }
            &:hover {
                cursor: pointer;
  	            transform: scale(1.08);
            }      
        }
        .new {
            @include new;
            left: 72%;
            top: 5%;
        } 
        .restaurant_text {
            display: flex;
            justify-content: space-between;
            @include cards_text;
            padding: 15px 15px;
                .text {
                    h3 {
                    @include third_title;
                    }
                    p {
                    margin: 5px 0px;
                    padding-bottom: 5px;
                    font-weight: 300;
                    font-size: 1rem;
                    }
                }
                .like_button {
                    bottom: 30%;
                    right: 7%; 
                }
        }
    }
}    

