/* Header Menus */

.logo_menus {
    display: flex;
    justify-content: center;
    width: auto;
    box-shadow: $shadow;
    padding: 18px 0px 12px 0px;
    .back {
        width: auto;
        height: 30px;
        font-size: 20px;
    }
    img{
        width: 70%;
        padding: 0 50px;
        margin-left: 5px;
        height: 25px;
    }
}
.picture_restaurant {
    height: 250px;
    overflow: hidden;
    .picture_plate {
        width: 100%;
        height: 270px;
        object-fit: cover;
        object-position: 100% 40%;
    }
    .picture_plate2 {
        width: 100%;
        height: 270px;
        object-fit: cover;
        object-position: 100% 50%;
        background-position: bottom;
    }
}

/* Menus */

.menus {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: -35px;
    border-radius: 30px 30px 0 0;
    background-color: $color-background2;
    justify-content: center;
    .restaurant_name {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 90%;
        h1 {
            font-weight: 500;
            font-size: 1.8rem;
            margin: 25px 0px 20px 25px;
            font-family: 'Shrikhand', cursive;
            } 
        #like_button {
            padding-bottom: 25px;
            padding-right: 20px;
            padding-left: 25px;
        }      
    }
    .menu_starter, .menu_main_course, .menu_dessert {
        h2 {
            @include second_title;
            font-weight: 300;
            padding-top: 10px;
            padding-left: 0;
            font-size: 1.0rem;
            margin-left: 15px;
            @include border-btm;
        }
        .starter, .main_course, .dessert {
            display: flex;
            align-items: center;
            font-size: 16px;
            width: auto;
            max-height: 80px;
            padding: 15px 0px;
            margin: 15px;
            border-radius: 20px;
            background: $color-background2;
            justify-content: flex-start;
            box-shadow: $shadow;
            overflow: hidden;
            max-height: 80px;
            .starter_text, .main_course_text, .dessert_text {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding-left: 10px;
                min-width: 90%;
                h3 {
                    @include third_title;
                    font-weight: 500;
                    margin-bottom: 5px;
                    text-overflow: ellipsis;
                }
                p {
                    font-size: 15px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    opacity: 60%;
                }
            }
            .basket { 
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-items: right;
                .price p {
                width: 20px;
                margin-right: 15px;
                font-size: 15px;
                font-weight: 500;
                padding-top: 25px;
                }
            }
        }
    }   
}

form {
    display: flex;
    background: $color-background2;
    justify-content: center;
    align-content: center;
    padding-top: 5px;
    padding-bottom: 30px;
    .btn--menu {
        font-size: 12px;
        padding: 12px 40px;
    }
}

/* Footer */

footer {
    @extend footer;
}



