/* Responsive Mobile */

@media screen and (min-width: 530px) and (max-width: 650px) {
    .basket { 
        margin-left: 1em;
    }
}

@media screen and (min-width: 650px) and (max-width: 768px) {
    .basket { 
        margin-left: 1.8em;
    }
}

/* Responsive Tablet */

@media screen and (min-width: 769px) and (max-width: 992px) {
    
    //accueil
    
    .logo {
        img{
            width: 35%;
            height: 28px;
        }
    }
    .location {
        i{
            width: 5%;
        }
        p{
            width: auto;
        }
    }
    .explore{
        padding: 30px;
        padding-bottom: 5px;
    }
    #choose_your_food{
        height: auto;
        padding-bottom: 40px;
        align-items: center;
        .orders {
            .order {
                width: 60%;
                    span {
                        margin-right: 12px;
                    }
                    i {
                        font-size: 18px;
                        margin-right: 12px;
                    }
            }
        }
    }
    .restaurant_cards{
        display: flex;
        flex-direction: column;
        background-color: $color-background2;
        height: auto;
        padding-bottom: 40px;
        .cards{
            align-items: center;
            .restaurant{
                    width: 60%;
                    height: 300px;
                .restaurant_picture {
                    .__picture1, .__picture3, .__picture4 {
                        height: auto;
                    }
                    .__picture2 {
                        height: auto;
                    }
                }
                &:hover {
                    cursor: pointer;
                      transform: scale(1.08);
                }      
            }
            .new {
                @include new;
                left : 80%;
                top: 5%;
            } 
            .restaurant_text {
                display: flex;
                justify-content: space-between;
                @include cards_text;
                padding: 15px 15px;
                    .text {
                        h3 {
                        @include third_title;
                        font-size: 1.4rem;
                        }
                        p {
                        margin: 5px 0px;
                        padding-bottom: 5px;
                        font-weight: 300;
                        font-size: 1.2rem;
                        }
                    }
                    .like_button {
                        bottom: 40%;
                        right: 7%;
                    }
            }
        }
    }

    // Menus

    .picture_restaurant {
        height: 300px;
        .picture_plate {
            height: 300px;
        }
        .picture_plate2 {
            height: 300px;
        }
    }
    .menus {
        .restaurant_name {
            justify-content: center;
            h1 {
                width: 80%;
            } 
        }
        .menu_starter, .menu_main_course, .menu_dessert {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2 {
                order: flex-start;
            }
            .starter, .main_course, .dessert {
                width: 60%;
                .basket { 
                    .add_basket {
                        padding: 30px 50px;
                    }
                    .price p {
                        margin-right: 25px;
                    }
                }
            }
        }  
        .btn--menu {
            font-size: 18px;
        } 
    }  
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        .link_restaurant {
            i {
                margin-right: 15px;
            }
        }
        .link_partner {
            i {
                margin-right: 15px;
            }
        } 
    }       
    .logo_menus {
        img{
            width: 35%;
            height: 28px;
        }
    } 
}

/* Responsive Desktop */


@media screen and (min-width: 993px) {

    //accueil

    .logo {
        img{
            width: 25%;
            height: 28px;
        }
    }
    .location {
        i{
            width: 3%;
        }
        p{
            width: 15%;
        }
    }
    .picture_restaurant {
        height: 300px;
        .picture_plate {
            height: 300px;
        }
        .picture_plate2 {
            height: 300px;
        }
    }
    .explore{
        padding: 30px;
        padding-bottom: 5px;
    }
    #choose_your_food{
        height: auto;
        padding-bottom: 40px;
        .orders {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .order {
                width: 28%;
            }
        }
    }
    .restaurant_cards{
    width: auto;
    height: auto;
    h2{
        @include second_title
    }
    .cards{
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 80px;
        padding-bottom: 30px;
        .restaurant{
            @include cards;
            max-width: 35%;
            .restaurant_picture {
                .__picture1, .__picture3, .__picture4 {
                    @include cards_img_horizontal;
                }
                .__picture2 {
                    @include cards_img_vertical;
                }
            }
            &:hover {
                cursor: pointer;
  	            transform: scale(1.08);
            }      
        }
        .new {
            @include new;
            left : 75%;
            top: 5%;
        } 
        .restaurant_text {
            display: flex;
            justify-content: space-between;
            @include cards_text;
            padding: 15px 15px;
                .text {
                    h3 {
                    @include third_title;
                    }
                    p {
                    margin: 5px 0px;
                    padding-bottom: 5px;
                    font-weight: 300;
                    font-size: 1rem;
                    }
                }
        }
    }
} 
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .link_restaurant {
            i {
                margin-right: 15px;
            }
        }
        .link_partner {
            i {
                margin-right: 15px;
            }
        } 
    }    

    /* Menus */

    .logo_menus {
        img{
        width: 40%;
        height: 28px;
        }
    }  

    .menus {
        .restaurant_name {
            display: flex;
            justify-content: space-around;
            width: 80%;
            margin-left: 80px;
        }
        .dishes {
            display: flex;
            flex-direction: row;
            width: auto;
            .menu_starter, .menu_main_course, .menu_dessert {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 33%;
                .starter, .main_course, .dessert {
                    width: 90%;
                    .starter_text, .main_course_text, .dessert_text {
                        h3 {
                            padding-left: 20px;
                            font-size: 1.3rem;
                        }
                        p {
                            width: 90%;
                            font-size: 17px;
                            padding-left: 20px;
                        }
                    }
                    .add_basket {
                        padding: 30px 50px;
                    }
                    .price {
                        margin-right: 10px;
                    }
                }
            }
        } 
        .btn--menu {
            margin: 40px;
            font-size: 20px;
        }   
    }
}