/* Responsive Tablet */

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    //accueil
    
    .logo {
        img{
            width: 40%;
            height: 28px;
        }
    }
    .location {
        i{
            width: 5%;
        }
        p{
            width: auto;
        }
    }
    .explore{
        padding: 30px;
        padding-bottom: 5px;
    }
    #choose_your_food{
        height: auto;
        padding-bottom: 40px;
        align-items: center;
        .orders {
            .order {
                width: 60%;
                    span {
                        margin-right: 12px;
                    }
                    i {
                        font-size: 18px;
                        margin-right: 12px;
                    }
            }
        }
    }
    .restaurant_cards{
        display: flex;
        flex-direction: column;
        background-color: $color-background2;
        height: auto;
        padding-bottom: 40px;
        .cards{
            align-items: center;
            .restaurant{
                    width: 60%;
                    height: 300px;
                .restaurant_picture {
                    .__picture1, .__picture3, .__picture4 {
                        height: auto;
                    }
                    .__picture2 {
                        height: auto;
                    }
                }
                &:hover {
                    cursor: pointer;
                      transform: scale(1.08);
                }      
            }
            .new {
                @include new;
                margin: 12px 17px 0 365px;
            } 
            .restaurant_text {
                display: flex;
                justify-content: space-between;
                @include cards_text;
                padding: 15px 15px;
                    .text {
                        h3 {
                        @include third_title;
                        font-size: 1.4rem;
                        }
                        p {
                        margin: 5px 0px;
                        padding-bottom: 5px;
                        font-weight: 300;
                        font-size: 1.2rem;
                        }
                    }
                    .heart {
                    @include heart;
                    }
            }
        }
    }

    // Menus

    .menus {
        .restaurant_name {
            align-items: center;
            justify-content: center;
            h1 {
                width: 60%;
            }
        }
        .menu_starter, .menu_main_course, .menu_dessert {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2 {
                order: flex-start;
            }
            .starter, .main_course, .dessert {
                width: 70%;
            }
        }   
    }  
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        .link_restaurant {
            i {
                margin-right: 15px;
            }
        }
        .link_partner {
            i {
                margin-right: 15px;
            }
        } 
    }       
    .logo_menus {
        img{
            width: 40%;
            height: 28px;
        }
    } 
}

/* Responsive Desktop */


@media screen and (min-width: 992px) {

    //accueil

    .logo {
        img{
            width: 25%;
            height: 28px;
        }
    }
    .location {
        i{
            width: 3%;
        }
        p{
            width: 15%;
        }
    }
    .explore{
        padding: 30px;
        padding-bottom: 5px;
    }
    #choose_your_food{
        height: auto;
        padding-bottom: 40px;
        .orders {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .order {
                width: 28%;
            }
        }
    }
    .restaurant_cards{
    width: auto;
    height: auto;
    h2{
        @include second_title
    }
    .cards{
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 80px;
        padding-bottom: 30px;
        .restaurant{
            @include cards;
            max-width: 40%;
            .restaurant_picture {
                .__picture1, .__picture3, .__picture4 {
                    @include cards_img_horizontal;
                }
                .__picture2 {
                    @include cards_img_vertical;
                }
            }
            &:hover {
                cursor: pointer;
  	            transform: scale(1.08);
            }      
        }
        .new {
            @include new;
        } 
        .restaurant_text {
            display: flex;
            justify-content: space-between;
            @include cards_text;
            padding: 15px 15px;
                .text {
                    h3 {
                    @include third_title;
                    }
                    p {
                    margin: 5px 0px;
                    padding-bottom: 5px;
                    font-weight: 300;
                    font-size: 1rem;
                    }
                }
                .heart {
                @include heart;
                }
        }
    }
} 
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .link_restaurant {
        i {
            margin-right: 15px;
        }
    }
    .link_partner {
        i {
            margin-right: 15px;
        }
    } 
}       
    .logo_menus {
        img{
        width: 40%;
        height: 28px;
        }
}  
/* Menus */

.menus {
    .restaurant_name {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        margin-left: 80px;
        h1 {
            font-weight: 500;
            font-size: 1.8rem;
            margin: 25px 0px 20px 15px;
            font-family: 'Shrikhand', cursive;
            width: 80%;
        }
        .heart {
            @include heart;
        }
    }
    .menu_starter, .menu_main_course, .menu_dessert {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            @include second_title;
            font-weight: 300;
            padding-top: 10px;
            padding-left: 0;
            font-size: 1.0rem;
            margin-left: 15px;
            @include border-btm;
        }
        .starter, .main_course, .dessert {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            width: 60%;
            min-width: max-content;
            padding: 15px 0px;
            margin: 15px;
            border: 1px solid $color-background2;
            border-radius: 20px;
            background: $color-background2;
            justify-content:flex-start;
            box-shadow: $shadow;
            .starter_text, .main_course_text, .dessert_text {
                padding-left: 10px;
                min-width: 90%;
                h3 {
                    @include third_title;
                    font-weight: 500;
                    margin-bottom: 5px;
                    padding-left: 20px;
                    font-size: 1.3rem;
                }
                p {
                    width: 90%;
                    font-size: 17px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    opacity: 60%;
                    padding-left: 20px;
                }
            }
            .price {
                font-size: 15px;
                font-weight: 500;
                padding-top: 25px;
                margin-left: -10px;
            }
        }
    }   
}
}