/* Main colors */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

/* Util colors */

$color-background: #EAEAEA;
$color-background2: #F6F6F6;

/* Text colors */

$colour: rgb(0,0,0,0);

/* Shadow */

$shadow: 0px 2px 5px #999;

