// Main colors

$color-primary: #9356DC;
$color-primary-light: lighten(#9356DC,5);
$color-secondary: #FF79DA;
$color-secondary-light: lighten(#FF79DA,5);
$color-tertiary: #99E2D0;

// Util colors

$color-background: #EAEAEA;
$color-background2: #F6F6F6;
$color-cards: white;
$color-footer: #353535;

// Text colors

$light-text: white;
$dark-text: black;

// Shadow

$shadow: 0px 2px 10px #999;

