/* Footer */

footer{
    background: $color-footer;
    height: auto;
    width: 100%;
    padding: 25px 20px;
        .footer_logo {
            @include footer_title;
            color: $light-text;
            width: 30%;
            margin-bottom: 15px;
        }
        a {
            color: $light-text;
        }
        a:visited {
            color: $light-text;
        }
        .link_restaurant {
            display: flex;
            margin-bottom: 10px;
            i {
                width: 5%;
                margin-right: 10px;
                color: $light-text;
            }
        }
        .link_partner {
            display: flex;
            margin-bottom: 10px;
            i {
                width: 5%;
                margin-right: 10px;
                color: $light-text;
            }
        } 
        .link_notice, .link_contact {
            margin-bottom: 10px;
        }   
}